.contenedor{
    color: #fff;
    padding: 100px 0 ;
    position: sticky;
}
.dark{
    color: #37271c;
}
.titulo{
    color:#f00946;
    margin-top: -50px;
    font-size: 18px;
    margin-left: 150px;
}
.izquierdo{
    margin-left: 75px;
}
.textoinfo{
    margin-top: 15px;
    margin-left: 150px;

}
.UbicacionImagen{
    width: 350px;
    height: 200px;
    float: right;
    margin-right: 200px;
    margin-top: -150px;
}
.Redes{
    margin-top: 10px;
    display: inline-flex;
    margin-left: 10px;
}
.face{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 1200px) {
    .UbicacionImagen{
        width: 350px;
        height: 200px;
        float: right;
        margin-right: 40px;
        margin-top: -150px;

    }
    .textoinfo{
        margin-top: 15px;
        margin-left: 40px;
    }
    .titulo{
        color:#f00946;
        margin-top: -50px;
        font-size: 18px;
        margin-left: 40px;
    }
}
@media screen and (max-width: 900px) {
    .UbicacionImagen{
        width: 350px;
        height: 200px;
        float: none;
        margin-top: 20px;
        margin-left: -20px;
    }
    .textoinfo{
        margin-top: 15px;
        margin-left: -20px;
    }
    .titulo{
        margin-left: 0px;
    }

}